<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Aplikacja do wykonywania testów egzaminacyjnych na prawo jazdy</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/index}">Prawko</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Nowy egzamin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Losuj pytanie</a>
        </li>
      </ul>
      <a th:href="@{/logout}" class="btn btn-danger" role="button">Logout</a>
    </div>
  </div>
</nav>
<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>