<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<head>
    <meta charset="UTF-8" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aplikacja do wykonywania testów egzaminacyjnych na prawo jazdy</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Prawko</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/newExam}"
                       id="newExam">Nowy
                        egzamin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Losuj pytanie</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link active" aria-current="page" th:href="@{/admin-panel}">Panel
                        administracyjny</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <form class="d-flex align-items-center" th:action="@{/editPreferences}" th:object="${preferences}"
                      method="POST">
                    <input type="hidden" th:field="*{userId}">
                    <!-- Category -->
                    <div class="dropdown me-2">
                        <button class="btn btn-secondary dropdown-toggle"
                                type="button"
                                id="dropdownCategoryMenu"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span th:text="${shortLabel}"
                                      th:with="shortLabel = ${user.category.name}"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownCategoryMenu">
                            <li th:each="category : ${categories}">
                                <button class="dropdown-item"
                                        type="submit"
                                        name="categoryName"
                                        th:text="${shortLabel}"
                                        th:value="${category.name}"
                                        th:with="shortLabel = ${category.name}">
                                </button>
                            </li>
                        </ul>
                    </div>
                    <!-- Language -->
                    <div class="dropdown me-2">
                        <button class="btn btn-secondary dropdown-toggle"
                                type="button"
                                id="dropdownLanguageMenu"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span th:with="languageLabel = ${user.language.icon} + ' ' + ${user.language.code}"
                                      th:text="${languageLabel}"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguageMenu">
                            <li th:each="language : ${languages}">
                                <button class="dropdown-item"
                                        type="submit"
                                        name="languageCode"
                                        th:text="${fullLabel}"
                                        th:value="${language.code}"
                                        th:with="fullLabel = ${language.icon} + ' ' + ${language.name}, shortLabel=${language.icon} + ' ' + ${language.code}">
                                </button>
                            </li>
                        </ul>
                    </div>
                </form>
                <!-- Logout Button -->
                <a th:href="@{/logout}" class="btn btn-danger" role="button">Logout</a>
            </div>
        </div>
    </div>
</nav>
<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
