<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <meta charset="UTF-8" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aplikacja do wykonywania testów egzaminacyjnych na prawo jazdy</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Prawko</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/tests/new}" id="newExam">Nowy
                        egzamin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Losuj pytanie</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link active" aria-current="page" th:href="@{/admin-panel}">Panel administracyjny</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <!-- language dropdown -->
                <div class="dropdown me-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownLanguageMenu"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <span id="currentLanguage"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguageMenu">
                        <li><a class="dropdown-item" data-lang="PL" onclick="setLanguage('PL')">🇵🇱 Polski</a></li>
                        <li><a class="dropdown-item" data-lang="EN" onclick="setLanguage('EN')">🇬🇧 English</a></li>
                        <li><a class="dropdown-item" data-lang="DE" onclick="setLanguage('DE')">🇩🇪 Deutch</a></li>
                    </ul>
                </div>
                <!-- Logout Button -->
                <a th:href="@{/logout}" class="btn btn-danger" role="button">Logout</a>
            </div>
        </div>
    </div>
</nav>
<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.bundle.js}"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        fetch("/users/getUserLanguage")
            .then(response => {
                if(!response.ok){
                    throw new Error("Cannot load user language.");
                }
                return response.text();
            })
            .then(language => {
                updateLanguageDisplay(language);
            })
            .catch(error => {
                console.error("Error: ", error);
            })
    })

    function setLanguage(language) {
            fetch(`/users/setLanguage?languageCode=${language}`)
                .then(respone => {
                    if (respone.ok) {
                        updateLanguageDisplay(language);
                    } else {
                        alert("Language not changed.")
                    }
                })
                .catch(error => {
                    console.error('Error: ', error);
                }
                );
        }

    function updateLanguageDisplay(language){
        const languageNames = {
            PL: '🇵🇱 Polski',
            EN: '🇬🇧 English',
            DE: '🇩🇪 Deutch'
        }

        const currentLanguageSpan = document.getElementById('currentLanguage');
        currentLanguageSpan.textContent = languageNames[language];
    }
</script>
</body>
</html>