<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <meta charset="UTF-8" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aplikacja do wykonywania testów egzaminacyjnych na prawo jazdy</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Prawko</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/tests/newExam?category=B}" id="newExam">Nowy
                        egzamin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Losuj pytanie</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link active" aria-current="page" th:href="@{/admin-panel}">Panel administracyjny</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <!-- Form dropdown with POST -->
                <form class="d-flex align-items-center"
                      method="POST"
                      th:action="@{/users/setLanguage}">
                    <div class="dropdown me-2">
                        <button class="btn btn-secondary dropdown-toggle"
                                type="button"
                                id="dropdownLanguageMenu"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <span id="currentLanguage" th:text="${currentLanguage.icon} + ' ' + ${currentLanguage.code}"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="dropdownLanguageMenu">
                            <li th:each="language : ${languages}">
                                <!-- Form submit button with language code as value -->
                                <button type="submit"
                                        class="dropdown-item"
                                        th:value="${language.code}"
                                        name="languageCode">
                                    <span th:text="${language.icon} + ' ' + ${language.name}"></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </form>
                <!-- Logout Button -->
                <a th:href="@{/logout}" class="btn btn-danger" role="button">Logout</a>
            </div>
        </div>
    </div>
</nav>
<br><br><br>
<!-- available categories -->
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <form id="categoryForm"
                  method="GET"
                  th:action="@{/tests/newExam}">
                <div th:each="category, iterStat : ${categories}">
                    <div class="form-check">
                        <input type="radio"
                               th:id="'category' + ${iterStat.index}"
                               th:value="${category.name}"
                               onchange="toggleCategoryButton()"
                               class="form-check-input"
                               name="category">
                        <label class="form-check-label"
                               th:for="'category' + ${iterStat.index}"
                               th:text="${category.name}">
                        </label>
                    </div>
                </div>
                <button id="chooseCategoryButton"
                class="btn btn-primary mt-3"
                disabled
                type="submit">
                    Rozpocznij egzamin
                </button>
            </form>
        </div>
    </div>
</div>
<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.bundle.js}"></script>
<script>
    function setCategory(element){
        const categoryName = element.getAttribute('data-category');

        const currentCategoryElement = document.getElementById('currentCategory');
        currentCategoryElement.textContent = categoryName;
    }

    function toggleCategoryButton(){
        const chooseCategoryButton = document.getElementById('chooseCategoryButton');
        chooseCategoryButton.disabled = !document.querySelector('input[name="category"]:checked');
    }
</script>
</body>
</html>