<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aplikacja do wykonywania testów egzaminacyjnych na prawo jazdy</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Prawko</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
            </ul>
            <a th:href="@{/login}" class="btn btn-success" role="button">Sign in</a>
        </div>
    </div>
</nav>

<br/><br/><br/>
<div class="container">
    <div class="row col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">
                    Registration
                </h2>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully registered.
                </div>
            </div>
            <div class="card-body">
                <form
                        method="post"
                        role="form"
                        th:action="@{/register}"
                        th:object="${user}"
                >
                    <div class="form-group">
                        <label for="firstName">
                            First name
                        </label>
                        <input type="text"
                               class="form-control"
                               id="firstName"
                               placeholder="Enter your first name"
                               th:field="*{firstName}"
                               required
                        >
                        <p th:errors="*{firstName}" class="text-danger"
                           th:if="${#fields.hasErrors('firstName')}"></p>
                    </div>
                    <div class="form-group">
                        <label for="lastName">
                            Last name
                        </label>
                        <input type="text"
                               class="form-control"
                               id="lastName"
                               placeholder="Enter your last name"
                               th:field="*{lastName}"
                               required
                        >
                        <p th:errors="*{lastName}" class="text-danger"
                           th:if="${#fields.hasErrors('lastName')}"></p>
                    </div>
                    <div class="form-group">
                        <label for="userName">
                            User name
                        </label>
                        <input type="text"
                               class="form-control"
                               id="userName"
                               placeholder="Enter your user name"
                               th:field="*{userName}"
                               required
                        >
                        <p th:errors="*{userName}" class="text-danger"
                           th:if="${#fields.hasErrors('userName')}"></p>
                    </div>
                    <div class="form-group">
                        <label for="email">
                            Email
                        </label>
                        <input type="email"
                               class="form-control"
                               id="email"
                               placeholder="Enter your email address"
                               th:field="*{email}"
                               required
                        >
                        <p th:errors="*{email}" class="text-danger"
                           th:if="${#fields.hasErrors('email')}"></p>
                    </div>
                    <div class="form-group">
                        <label for="password">
                            Password
                        </label>
                        <input type="password"
                               class="form-control"
                               id="password"
                               placeholder="Enter your password"
                               th:field="*{password}"
                               required
                        >
                        <p th:errors="*{password}" class="text-danger"
                           th:if="${#fields.hasErrors('password')}"></p>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <span>Already registered? <a th:href="@{/login}">Sign in here</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
